.advantages {
  min-height: 470px;
  padding: 70px 0 67px 0;
  background-color: #F6F6F6;
  &__label {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    margin-top: 65px;
    width: 270px;
    min-height: 252px;
    img {
      width: 70px;
      display: block;
      margin: 0 auto;
    }
  }
  &__title {
    margin-top: 35px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  &__descr {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    span {
      text-decoration: underline;
      color: $main-color;
    }
  }
  @media (max-width: 767px) {
    &__label {
      font-size: 27px;
    }
    &__wrapper {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}